<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <!-- <script src="/app.js"></script> -->
    <title>Label Creator</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Options</h1>

        <label for="json">JSON input</label>
        <br />
        <textarea id="json" name="json">
            {
              "canvas": {
                  "height": "700",
                  "width": "500"
              },
              "textElement": [
                  {
                      "width": "50",
                      "height": "50",
                      "position": {
                          "x": "0",
                          "y": "0"
                      },
                      "text": "pirmas"
                  },
                  {
                      "width": "100",
                      "height": "100",
                      "position": {
                          "x": "50",
                          "y": "60"
                      },
                      "text": "pirmas"
                  }
              ],
              "rectangleElement": [
                  {
                      "width": "50",
                      "height": "50",
                      "position": {
                          "x": "0",
                          "y": "0"
                      },
                      "stroke": {
                          "size": "2",
                          "color": "blue"
                      }
                  }
              ],
              "imageElements": [
                  {
                      "width": "100",
                      "height": "100",
                      "position": {
                          "x": "50",
                          "y": "60"
                      }
                  }
              ]
          }</textarea
        >
      </div>
      <div>
        <!-- <canvas id="canvas" height="800" width="500"> </canvas> -->
        <%-htmlFile%>
      </div>
    </main>
    <script>
      const inputElement = document.querySelector("textarea");
      inputElement.addEventListener("change", async (event) => {
        let target = event.target;
        let obj = JSON.parse(target.value);

        const response = await fetch("http://localhost:3000/create", {
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          method: "POST",
          body: JSON.stringify(obj),
        });
        console.log(JSON.parse(target.value));
      });
    </script>
  </body>
</html>
