<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <!-- <script src="/app.js"></script> -->
    <title>Label Creator</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Options</h1>

        <label for="json">JSON input</label>
        <br />
        <textarea id="json" name="json"><%=example%></textarea>
      </div>
      <div>
        <!-- <canvas id="canvas" height="800" width="500"> </canvas> -->
        <%-htmlFile%>
      </div>
    </main>
    <script>
      const inputElement = document.querySelector("textarea");
      inputElement.addEventListener("change", async (event) => {
        let target = event.target;
        let obj = JSON.parse(target.value);

        const response = await fetch("http://localhost:3000/create", {
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          method: "POST",
          body: JSON.stringify(obj),
        });
        console.log(JSON.parse(target.value));
      });
    </script>
  </body>
</html>
