<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <!-- <script src="/app.js"></script> -->
    <title>Label Creator</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Options</h1>
        <label for="json">JSON input:</label>
        <br />
        <textarea id="json" name="json"><%=example%></textarea>
        <input type="submit" onclick="handleSubmit()" value="CREATE" />
      </div>
      <div>
        <!-- <canvas id="canvas" height="800" width="500"> </canvas> -->
        <%-htmlFile%>
      </div>
    </main>
    <script>
      const inputElement = document.querySelector("textarea");

      const handleSubmit = async () => {
        try {
          let value = inputElement.value;
          let obj = JSON.parse(value);
          await fetch("http://localhost:3000/create", {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            method: "POST",
            body: JSON.stringify(obj),
          });
          location.reload();
        } catch (error) {
          console.log(error);
        }
      };
    </script>
  </body>
</html>
